@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-1: #98d7e6;
    --cor-2: #fc8571;
    --cor-3: #ffd879;
    --cor-4: #f7f8fa;
    --cor-5: #1b1b1b;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-2);
    color: var(--cor-5);
    font-family: 'Lato', sans-serif;
}

.container {
    background-color: var(--cor-4);
    max-width: 70rem;
    width: 100%;
    min-height: 20rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    margin: auto;
}

input {
    padding: .2rem;
    margin: .2rem 0 .5rem 0;
    border: 1px solid var(--cor-2);
}

input:focus {
    outline-color: var(--cor-1);
}

#enviar {
    width: 5rem;
    padding: .5rem;
    background-color: var(--cor-4);
    transition: .2s;
    cursor: pointer;
}

#enviar:hover {
    background-color: var(--cor-2);
    border-radius: 2px;
    border: 1px solid var(--cor-4);
    color: var(--cor-4);
}

#tabela {
    width: 100%;    
    margin-top: 2rem;
    border-collapse: collapse;
}

th {
    background-color: var(--cor-1);
    text-align: left;
}

th, td {
    padding: .5rem;
}

th:nth-child(1){
    width: 7%;
}

th:nth-child(2){
    width: 23%;
}

th:nth-child(3){
    width: 23%;
}

th:nth-child(4){
    width: 23%;
}

th:nth-child(5){
    width: 100%;
}

tr {
    background-color: var(--cor-4);
}

tr:nth-child(even){
    background-color: var(--cor-3);
}

th, td {
    border-top: 1px solid var(--cor-4);
    border-bottom: 1px solid var(--cor-4);
}